<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Academicship|Image Classification</title>
      <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/favicon.ico') }}">
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
      <!-- Responsive-->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/responsive.css') }}">
      <!-- fevicon -->
      <link rel="icon"  type="image/gif" href="{{ url_for('static',filename='images/fevicon.png') }}">
      <!-- Scrollbar Custom CSS -->
	  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
      <link rel="stylesheet" href="{{ url_for('static',filename='css/jquery.mCustomScrollbar.min.css') }}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.carousel.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.theme.default.min.css') }}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>
      <!-- header section start -->
      <div class="header_section">
         
      </div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light container">
            <a class="navbar-brand"><a href="https://academicship.com/"><img src="{{ url_for('static',filename='images/logo.png') }}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                     <a class="nav-link" href="https://academicship.com/">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="https://academicship.com/our-company/">About</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="https://academicship.com/our-services/">Service</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="https://academicship.com/resourcecenter/">Resources</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="https://academicship.com/our-models/">Our Models</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="https://academicship.com/contact-us/">Contact Us</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="https://academicship.com/my-account/">My Account</a>
                  </li>
               </ul>
            </div>
         </nav>
      <!-- header section end -->
      <!-- banner section start -->
      
      </div>
      <!-- banner section end -->
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="offset-md-2"></div>
               <div class="col-md-8">
                  <div class="container_main">
               <h1 class="our_model">OUR PREDEFINED MODELS predicted page</h1></div></div>
            </div>
         </div>
      </div>
      <!-- about section end -->
      <!-- mission section start -->
      <div class="mission_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="mission_taital">DIGIT CLASSIFICATION</h1>
                  <p class="mission_text">It is a simple CNN Model trained with MINST dataset. Here you need to upload the images of digit in jpg format. it will predict the value which is written on that image.Here is the sample image. </p>
               </div>
            </div>
         </div>
         <div class="mission_section_2">
            <div class="row">
               <div class="offset-md-4"></div>
               <div class="col-md-5">
                  <div class="container_main">
                     <img src="{{ url_for('static',filename='images/img-1.png') }}" alt="Avatar" class="image">
                     <div class="overlay">
                        <div class="text">
                           <h4 class="some_text">Upload Your Image to Inditifiy The Digit </h4>
                           <p class="alteration_text">The model is trained to predict the digit if it is present in.</p>
                           <div class="btn_main">
                              <form method=post enctype=multipart/form-data>
                                 <p class="text-light">
                                    <input type=file name=file>
                                    <input type=submit value=Upload>
                                 </p>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
                <div class="col-md-5">
                  
               </div>
            </div>
         </div>
         
         
      </div>

      <div class="footer_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-6 col-md-6">
                  <div class="footer_logo"><img src="{{ url_for('static',filename='images/AcademicFooterlogo.jpg') }}/"></div>
                  <div><p>At Academicship, we deliver quality research work on AI ML and IoT. 
                     We are also committed to making AI for human well-being.  
                     Students will get a one-stop solution in the academicship. </p></div>
                  
               </div>
               <div class="col-sm-6 col-md-6">
                  <div class="footer_menu_main">
                        <div class="footer_menu">
                           <ul>
                              <li><a href="https://academicship.com/my-account/">My Account</a></li>
                              <li><a href="https://academicship.com/return-and-refund-policy/">Return and Refund Policy</a></li>
                              <li><a href="https://academicship.com/privacy-policy/">Privacy Policy</a></li>
                              <li><a href="https://academicship.com/contact-us/">Contact us</a></li>

                           </ul>
                        </div>
                  </div>
               </div>
               
            </div>
            <div class="footer_section_2">
               <div class="row">
                  
               </div>
            </div>
         </div>
      </div>
      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <div class="row">
               <div class="col-sm-6 col-md-6">
                  <p class="copyright_text">2023 All Rights Reserved.<a href="https://academicship.com/">Academic Ship</a></p>
               </div>
               <div class="col-md-6 col-sm-3">
                  <div class="social-icon">
                     <a href="https://www.facebook.com/academicship" class="fa fa-facebook"></a>  
                     <a href="https://www.linkedin.com/company/academicship/" class="fa fa-linkedin"></a>  
                     <a href="https://twitter.com/AcademicShip" class="fa fa-twitter"></a> 
                     <a href="https://www.instagram.com/academicship/" class="fa fa-instagram"></a>  
                     <a href="https://www.youtube.com/channel/UCPmwPbsiMAUeziUSNgYCKCg" class="fa fa-youtube"></a> 
                     <a href="https://t.me/academicshipexpert" class="fa fa-telegram"></a> 
                     <a href="https://api.whatsapp.com/message/QCLST3HFLH46M1?autoload=1&app_absent=0" class="fa fa-whatsapp"></a> 
                  </div>
               </div>
            </div>
         </div>
         </div>
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
      <script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>
      <script src="{{ url_for('static',filename='js/jquery-3.0.0.min.js') }}"></script>
      <script src="{{ url_for('static',filename='js/plugin.js') }}"></script>
      <!-- sidebar -->
      <script src="{{ url_for('static',filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
      <script src="{{ url_for('static',filename='js/custom.js') }}"></script>
      <!-- javascript --> 
      <script src="{{ url_for('static',filename='js/owl.carousel.js') }}"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>    
   </body>
</html>

